alabaster==0.7.12
beautifulsoup4==4.6.3
Django==3.0.3
django-crispy-forms==1.9.0
djangorestframework==3.11.0
docutils==0.14
en-core-web-sm==2.2.0
entrypoints==0.2.3
et-xmlfile==1.0.1
fastcache==1.0.2
filelock==3.0.10
Flask==1.0.2
Flask-Cors==3.0.7
gunicorn==20.0.4
h5py==2.8.0
heapdict==1.0.0
html5lib==1.0.1
numba==0.41.0
numexpr==2.6.8
numpy==1.15.4
numpydoc==0.8.0
packaging==18.0
pandas==0.23.4
pandocfilters==1.4.2
pickleshare==0.7.5
Pillow==5.3.0
Pygments==2.3.1
pylint==2.2.2
pylint-django==2.0.15
pylint-plugin-utils==0.6
requests==2.21.0
scikit-image==0.14.1
scikit-learn==0.20.1
unicodecsv==0.14.1
whitenoise==5.0.1
xgboost==0.90