<!DOCTYPE html>
{% load static %}
{% load crispy_forms_tags %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Cars Marketplace</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" 
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
    <div class="mx-2 my-5">
        <div class="row" style="background-color: white;">
            <div class="col-sm-4">
                <img src="{% static '/image/aa.jpg'%}" alt="Cars Marketplace"
                style="width: 400px; height: 200px;"></img>
            </div>
            <div class="col-sm-4">
                <img src="{% static '/image/ab.png'%}" alt="Cars Marketplace" 
                style="width: 400px; height: 200px;"></img>
            </div>
            <div class="col-sm-4">
                <img src="{% static '/image/ac.png'%}" alt="Cars Marketplace" 
                style="width: 400px; height: 200px;"></img>
            </div>
        </div>
        <div class="row" style="background-color: black;">
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
                <div class="container">
                    <h1 style="color: white;">CARS MARKETPLACE</h1>
                </div>
            </div>
            <div class="col-sm-4"></div>
        </div>

        <div class="row">
            <div class="col"></div>
            <div class="col-6 my-5">
                <h1>Welcome to The Cars Marketplace</h1><br>
                <p>This is where you can find out how much your car is worth
                    in today's market. This tool has been made available for anyone
                    looking to purchase a car or sell their's!
                    Fill the form below to get started!
                </p>
                <h2>Car Price Form</h2>
                <form method="POST">
                    {% csrf_token %}
                    {{form|crispy}}
                    <br>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
                <br>
            </div>
            <div class="col">
                <div class="mt-5">
                    <h4>
                        {% if messages %}
                        <ul class="messages">
                            {% for message in messages%}
                            <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>
                                {{ message }}
                            </li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </h4>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
